.auth-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-input {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
  }
  
  .form-btn {
    margin-top: 10px;
    background-color: #f57145;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .auth-msg {
    margin-top: 10px;
    color: red;
  }
  