.auth-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .form-input {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    height: 25px;
  }
  
  .form-btn {
    margin-top: 10px;
    background-color: #f57145;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: large;
  }
  
  .auth-msg {
    margin-top: 10px;
    color: red;
  }
  
  h3 {
    color: white;
  }