form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form div {
    margin-bottom: 20px;
  }
  
  form label {
    font-weight: bold;
    color: limegreen;
  }
  
  form input[type="text"] {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    height: 25px;
  }
  
  form button {
    background-color: #8a300f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: large;
  }
  
  form button[type='button']:hover{
    background-color: red;
  }
  
  form button[type="button"] {
    background-color: #a2fab8;
  }
  
  form button[type="submit"] {
    background-color: #6fcf97;
  }

  form button[type="submit"]:hover {
    background-color: limegreen;
  }
  