.navbar {
    height: 60px;
    background-color: rgba(169, 169, 169, 0.493);
    color: white;
    padding: 0 10px;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-link {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #f57145;
  }
  
  .logout-btn {
    background-color: #f57145;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  