.post-card {
    background-color: #baf8ba;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .delete-btn,
  .edit-btn {
    margin-top: 10px;
    background-color: #6fcf97;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: large;
  }

  .delete-btn:hover{
    background-color: red;
  }

  .edit-btn:hover{
    background-color: limegreen;
  }
  
  .edit-form {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .edit-form input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  .edit-form button {
    background-color: #f57145;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: large;
  }
  